.filterItem {
  text-transform: capitalize;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.filterItem span {
  background-color: var(--lightblue);
  color: var(--darkblue);
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.filterItem .clicked,
.filterItem span:hover {
  background-color: var(--darkblue);
  color: var(--lightblue);
}
